* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(138, 137, 137);
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.dropdown-container svg:hover {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

/* .links {
    font-size: 20px;
    width: 40%;
    height: 110vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f9f9f9;
    position: absolute;
    text-align: left;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: 0.3s;
} */

.nav-container {
    font-size: 20px;
    width: 40%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f9f9f9;
    position: absolute;
    text-align: center;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active.nav-container {
    opacity: 1;
    right: 0;
    pointer-events: fill;
}

.links {
    position: relative;
    top: 30%;
    padding-bottom: 20px;
    font-size: 22px;
}

.links a {
    padding-bottom: 15px;
}   

.menu_icon_box {
    z-index: 2;
    width: fit-content;
    height: auto;
    background-color: #ffffff;
    margin: 30px;
    position: absolute;
    right: 0;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-spacing {
    padding-top: 100px;
}

.line1,
.line2,
.line3 {
    width: 40px;
    height: 4px;
    margin: 10px 8px;
    background-color: #000000;
    border-radius: 50px;
    transition: 0.2s;
}

.active .line1 {
    transform: translate(0px, 15px)rotate(45deg);
}

.active .line2 {
    opacity: 0;
}

.active .line3 {
    transform: translate(0px, -15px)rotate(-45deg);
}

.user-links {
    display: none;
}

/* Dropdown menu */
.dropdown-container {
    display: block;
}

.dropdown-btn {
    padding-bottom: 5px;
    cursor: pointer;
}

/* sublinks */
.sublink-grandparent {
    /* position: absolute;
    top: 0px; */
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 150%;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
}

.sublink-grandparent.toggle {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
}

.sublink-parent {
    display: flex;
    flex-direction: column;
}
 
/* Drop down Style Feature */

.sublink-parent a {
    height: 50px;
    padding: 15px 0 0 15px;
}

.sublink-parent a:hover {
    color: #ffffff;
    border-radius: 0;
    background-color: #bcbcbc;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
    .container {
        margin: 25px auto 0;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-container {
        margin: 15px 30px;
    }

    .links {
        /* display: block; */
        display: flex;
        align-items: center;
        margin-left: 0px;
        width: fit-content;
        height: 0;
        box-shadow: 0;
        background-color: none;
        position: relative;
        text-align: left;
        z-index: 0;
        opacity: 1;
        top: 0;
        right: 0;
        pointer-events: auto;
        transition: 0;
    }

    .menu_icon_box {
        display: none;
    }

    /* Dropdown menu */
    .dropdown-container {
        display: flex;
        align-items: center;
    }

    .dropdown-btn {
        padding-left: 5px;
        cursor: pointer;
    }

    /* sublinks */
    .sublink-grandparent {
        position: absolute;
        top: 15px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 150%;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
    }

    .sublink-grandparent.toggle {
        visibility: visible;
        transition: all 0.3s ease;
        opacity: 1;
    }

    .sublink-parent {
        display: flex;
        flex-direction: column;
    }

    /* Drop down Style Feature */

    .sublink-parent a {
        height: 50px;
        padding: 15px 0 0 15px;
    }

    .sublink-parent a:hover {
        color: #ffffff;
        border-radius: 0;
        background-color: #bcbcbc;
        transition: all 0.5s ease;
    }

    /* sublinks */

    .user-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
    }

    .user-links a {
        width: 25px;
    }
}