* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(138, 137, 137);
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.logo-container {
    margin-top: 25px;
    text-align: center;
}

.dropdown-container svg:hover {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.links {
    display: none;
}

.user-links {
    display: none;
}

@media only screen and (min-width: 991px) {
    .container {
        margin: 25px auto 0;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-container {
        margin-top: 0;
        text-align: center;
    }

    .links {
        display: block;
        margin-left: 0px;
    }

    /* Dropdown menu */
    .dropdown-container {
        display: flex;
        align-items: center;
    }
    
    .dropdown-btn {
        padding-left: 5px;
        cursor: pointer;
    }
  
    /* sublinks */
    .sublink-grandparent {
        position: absolute;
        top: 10%;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 15%;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
    }

    .sublink-grandparent.toggle {
        visibility: visible;
        transition: all 0.3s ease;
        opacity: 1;
    }
    
    .sublink-parent {
        display: flex;
        flex-direction: column;
    }
    
    /* Drop down Style Feature */

    .sublink-parent a {
        height: 50px;
        padding: 15px 0 0 15px;
    }

    /* sublinks */

    .user-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
    }

    .user-links a {
       width: 25px;
    }
}